<!doctype html>
<html lang="en">

<head>
  <title>Query Handler</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Style CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- Font  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  {{>nav}}

  <!-------------- HOME SECTION --------------->
  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="promo-title">QUERY HANDLER</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem pariatur ducimus ab voluptatum veniam
            blanditiis nam dolor a, repellat dolores dolorem asperiores, obcaecati velit, numquam qui voluptatibus
            dolorum itaque provident.
          </p>
        </div>
        <div class="col-md-6 text-center">
          <img src="images/home.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <img src="images/header-wave.png" class="bottom-img" alt="">
  </section>

  <!-------------- FEATURES SECTION --------------->
  <section id="features">
    <div class="container text-center">
      <h1 class="title">Questions are everywhere, answers are on Query Handler</h1>
      <div class="row text-center">
        <div class="col-md-4 features">
          <img src="images/ask a question.png" alt="" class="feature-img">
          <h4>Ask a question</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quo odit eveniet laboriosam esse adipisci
            nobis commodi facere repellendus reprehenderit soluta, molestiae doloremque quas eum error qui suscipit
            tempora corporis.</p>
        </div>
        <div class="col-md-4 features">
          <img src="images/votes.png" class="feature-img">
          <h4>Vote on everything</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quo odit eveniet laboriosam esse adipisci
            nobis commodi facere repellendus reprehenderit soluta, molestiae doloremque quas eum error qui suscipit
            tempora corporis.</p>
        </div>
        <div class="col-md-4 features">
          <img src="images/answer.png" alt="" class="feature-img">
          <h4>Answer questions </h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quo odit eveniet laboriosam esse adipisci
            nobis commodi facere repellendus reprehenderit soluta, molestiae doloremque quas eum error qui suscipit
            tempora corporis.</p>
        </div>
      </div>
      <button type="button" class="btn btn-primary">All Features</button>
    </div>
  </section>

  <!-------------- ABOUT US SECTION --------------->
  <section id="about-us" class="bg-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
          <div class="section-heading text-center">
            <h1 class="text-white">About Us</h1>
          </div>
        </div>
        <div class="col-md-12 about-us-p">
          <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloribus id doloremque
            quo hic magni sed nam possimus quaerat, asperiores ipsum error nobis officiis nisi illum assumenda nesciunt
            nemo aliquid. Obcaecati ipsa delectus eius
            veritatis facilis provident natus saepe illo asperiores quam nam explicabo quia nihil quos impedit, vel
            porro minima et quibusdam, debitis esse totam voluptatum sapiente praesentium. Dolorem! Asperiores quibusdam
            incidunt nam modi aspernatur
            nemo, commodi adipisci at assumenda omnis? Excepturi quo rerum architecto vero delectus, minus a. Deserunt
            blanditiis tempore ea, corrupti maxime quasi praesentium fugiat eligendi!.</p>
        </div>
      </div>
    </div>

  </section>

  <!-------------- TEAM SECTION --------------->
  <section id="team">
    <div class="container text-center">
      <h1 class="title">Meet Our Creative Team</h1>
      <div class="row">
        <div class="col-lg-4">
          <div class="single-team">
            <div class="side-one">
              <img src="images/team-member.jpg" alt="" class="img-fluid">
              <h3>Member 1</h3>
              <p>work</p>
            </div>
            <div class="side-two">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo aperiam similique accusantium,
                qui quis! Fuga perspiciatis voluptate praesentium iusto ipsum voluptates eos laboriosam, accusamus
                exercitationem cumque, aliquid, necessitatibus sint!</span>
              <p class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-team">
            <div class="side-one">
              <img src="images/team-member.jpg" alt="" class="img-fluid">
              <h3>Member 2</h3>
              <p>work</p>
            </div>
            <div class="side-two">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo aperiam similique accusantium,
                qui quis! Fuga perspiciatis voluptate praesentium iusto ipsum voluptates eos laboriosam, accusamus
                exercitationem cumque, aliquid, necessitatibus sint!</span>
              <p class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-team">
            <div class="side-one">
              <img src="images/team-member.jpg" alt="" class="img-fluid">
              <h3>Member 3</h3>
              <p>work</p>
            </div>
            <div class="side-two">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quo aperiam similique accusantium,
                qui quis! Fuga perspiciatis voluptate praesentium iusto ipsum voluptates eos laboriosam, accusamus
                exercitationem cumque, aliquid, necessitatibus sint!</span>
              <p class="socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{>footer}}

  <!-------------- LOGIN --------------->
  <div class="modal fade text-dark" id="login">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="btn btn-primary signup-button" data-toggle="modal" data-target="#signup"
            data-dismiss="modal">signup here</button>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="password" class="form-control">
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-block" type="submit">Login</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-------------- SIGNUP --------------->
  <div class="modal fade text-dark" id="signup">
    <div class="modal-dialog signup-form">
      <div class="modal-content">
        <div class="modal-header">
          <button class="btn btn-primary login-button" data-toggle="modal" data-target="#login"
            data-dismiss="modal">Login here</button>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/signup" method="POST">
            <div class="form-group">
              <label for="username">Usename</label>
              <input type="text" name="username" placeholder="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="name" placeholder="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" placeholder="email" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="confirm password">Confirm password</label>
              <input type="password" placeholder="confirm password" class="form-control">
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary btn-block" type="submit">Signup</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <!-------------- SMOOTH SCROLL --------------->
  <script src="resources/smooth-scroll.js"></script>
  <script>
    var scroll = new SmoothScroll('a[href*="#"]', {
      speed: 1000
    });
  </script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js "
    integrity=" sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
    crossorigin=" anonymous "></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js "
    integrity=" sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 "
    crossorigin=" anonymous "></script>
  <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "
    integrity=" sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
    crossorigin=" anonymous "></script>

</body>

</html>