<!-------------- FOOTER SECTION --------------->
<section id="footer">
    <img src="images/footer-wave.png" alt="" class="footer-img">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box">
                <h2>LOGO</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda non aliquid perspiciatis beatae
                    accusamus, quam enim tempore cum quia quis vitae, sapiente eos vel, voluptate dolorum quos tempora
                    officiis
                    nobis!
                </p>
            </div>
            <div class="col-md-4 footer-box">
                <p><b>CONTACT US</b></p>
                <p><i class="fa fa-map-marker"></i> Adress</p>
                <p><i class="fa fa-phone"></i> +91 0123456789</p>
                <p><i fa <i class="fa fa-envelope-o"></i> xyz@gmail.com</p>
            </div>
        </div>
    </div>
</section>