#questionDetails .code {
  background-color: #eff0f1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

#questionDetails .voteButton {
  fill: #bbc0c4;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

#questionDetails .btn .btn-primary {
  background: #007ed9;
}
