/* -------- BASIC SATUP -------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/*-------- NAVBAR -------- */

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%) !important;
  padding: 8px !important;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

.navbar-brand img {
  height: 50px;
  padding-left: 20px;
}

.fa-bars {
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

.navbar .btn {
  box-shadow: none;
  float: right;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to left, #2e19a7, #ae0ee9);
}

/* -------- HOME -------- */

#home {
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  color: #fff;
  padding-top: 5%;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.bottom-img {
  width: 100%;
}

/* -------- FEATURES -------- */

#features {
  padding: 80px 0;
}

.feature-img {
  width: 100px;
  margin-top: 20px;
}

.features {
  padding: 20px;
}

.features h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::after {
  content: "";
  background: #7b1798;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#features .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
}

/* -------- ABOUT US -------- */

#about-us.bg-1 {
  background-image: url(../images/about-us.jpg);
  color: #000000;
  padding: 110px 0px 120px;
}

#about-us {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about-us h1 {
  font-weight: 600;
}

.about-us-p {
  padding: 20px;
}

/* -------- TEAM -------- */

#team {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f5fafe;
}

.single-team {
  position: relative;
  transition: 0.5s;
  margin-bottom: 30px;
  width: 100%;
  height: 300px;
  text-align: center;
  overflow: hidden;
}

.single-team img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 110px;
  border: 5px solid #fafafa;
  margin-top: 30px;
}

.single-team h3 {
  font-size: 20px;
  font-weight: 600;
}

.socials {
  margin-top: 18px;
}

.single-team p {
  margin-bottom: 0;
}

.side-two {
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  color: #fff;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.socials a {
  color: #262626;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #fafafa;
  display: inline-block;
}

.socials a i {
  padding-top: 10px;
}

.socials a:hover {
  background-color: #262626;
}

.socials a:hover i {
  color: #fff;
  transform: scale(1.2);
  transition: 0.9s;
}

.side-one {
  background-color: #f5fafe;
  padding: 15px;
  bottom: 0;
  transition: 0.5s;
  color: #000000;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 5;
}

.single-team:hover .side-one {
  bottom: -300px;
  transition: 0.5s;
}

/* -------- FOOTER -------- */

#footer {
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
  color: #fff;
}

.footer-img {
  width: 100%;
}

.footer-box {
  padding: 20px;
}

.footer-box h2 {
  width: 120px;
  margin-bottom: 20px;
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
}

/* -------- SIGNUP AND LOGIN -------- */

#login .btn-primary,
#signup .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(90deg, #20007e 0%, #e61eb6 100%);
}

.modal-dialog {
  overflow-y: initial !important;
}

#signup .modal-body {
  height: 400px;
  overflow-y: auto;
}
